p Hello! Welcome to Pictoral.  Choose which service to log into!

p
    a(href="/auth/instagram") Login with Instagram!
p
    a(href="/login/facebook") Login with Facebook!
p
    a(href="/login/twitter") Login with Twitter!