//
   Created by kyleyeung on 2017-01-16.
doctype html
html
    head
        meta(charset='UTF-8')
        title Pictoral Login
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/stylesheets/login.css')
        script(src='/vendor/jquery-2.2.3.min.js')
        script(src='/vendor/jquery.form.min.js')
        script(src='/vendor/bootstrap.min.js')
        script(src='/javascripts/views/login.js')
        script(src='/javascripts/controllers/loginController.js')
        script(src='/javascripts/form-validator/loginValidator.js')
            //script(src='/js/form-validators/emailValidator.js')
    body
        .login-wrap
            .login-html
                .title
                    h1 Pictoral
                input#tab-1.sign-in(type='radio', name='tab', checked='')
                label.tab(for='tab-1') Sign In
                input#tab-2.sign-up(type='radio', name='tab')
                label.tab(for='tab-2') Sign Up
                .login-form
                    form.sign-in-htm(id='login', method='post')
                        .group
                            label.label(for='user') Username
                            input.form-control(type='text', id='user-tf', name='user')
                        .group
                            label.label(for='pass') Password
                            input.form-control(type='password', id='pass-tf', name='pass')
                        .group
                            input#check.check(type='checkbox', checked='')
                            label(for='check')
                                span.icon
                                |  Keep me Signed in
                        .group
                            input.button(type='submit', value='Sign In')
                        .hr
                        .foot-lnk
                            a(href='#forgot') Forgot Password?
                    .sign-up-htm
                        .group
                            label.label(for='user') Username
                            input#user.input(type='text')
                        .group
                            label.label(for='pass') Password
                            input#pass.input(type='password', data-type='password')
                        .group
                            label.label(for='pass') Repeat Password
                            input#pass.input(type='password', data-type='password')
                        .group
                            label.label(for='pass') Email Address
                            input#pass.input(type='text')
                        .group
                            input.button(type='submit', value='Sign Up')
                        .hr
                        .foot-lnk
                            label(for='tab-1')
                                | Already Member?

