//
   Created by kyleyeung on 2017-01-16.
doctype html
html
    head
        meta(charset='UTF-8')
        title Pictoral Login
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        script(src='/vendor/jquery-2.2.3.min.js')
        script(src='/vendor/jquery.form.min.js')
        script(src='/vendor/bootstrap.min.js')
        script(src='/javascripts/views/login.js')
        script(src='/javascripts/controllers/loginController.js')
        script(src='/javascripts/controllers/signupController.js')
        script(src='/javascripts/form-validator/loginValidator.js')
        script(src='/javascripts/form-validator/accountValidator.js')



    include modals/alert
    include modals/form-errors

    body
        .login-wrap
            .login-html
                .title
                    h1 Pictoral
                input#tab-1.sign-in(type='radio', name='tab', checked='')
                label.tab(for='tab-1') Sign In
                input#tab-2.sign-up(type='radio', name='tab')
                label.tab(for='tab-2') Sign Up
                .login-form
                    form.sign-in-htm(id='login', method='post')
                        .group
                            label.label Username
                            input.form-control(type='text', id='login-user', name='user')
                        .group
                            label.label Password
                            input.form-control(type='password', id='login-pass', name='pass')
                        .group
                            input.button(type='submit', value='Sign In')
                        .hr
                        .foot-lnk
                            .copywrite &copy; 2017
                    form.sign-up-htm(id='signup', method='post', action='/signup')
                        .group
                            label.label Username
                            input.form-control(type='text' id='signup-user', name='user')
                        .group
                            label.label Password
                            input.form-control(type='password', data-type='password' id='signup-pass1', name='pass')
                        .group
                            label.label Repeat Password
                            input.form-control(type='password', data-type='password', id='signup-pass2')
                        .group
                            input.button(type='submit', value='Sign Up')


